body{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  font-family: sans-serif;

}


main{
  margin-top: 2%;
  width: 100%;
  box-sizing: border-box;
  
}


.slider{
  margin: 0 auto;
  width: 100%;
  overflow: hidden;
}

.slides{
  width: 400%;
  display:flex;

}

.slides input{
  display: none;
}

.slide{
  width: 25%;
 /* position: relative;*/
  transition: 2s;
}

.slide img{
  width: 100%;
  height: 349px;

}

.label_nav{
  width: 100%;
  margin-top: 0.30%;
  display: flex;
  justify-content:center;
}

.label_btn{
  border: 2px solid rgb(156, 8, 8);
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.label_btn:not(:last-child){
  margin-right: 20px;

}

.label_btn:hover{
  background-color: rgb(237, 35, 35);
}

#radio1:checked ~ .first{
  margin-left: 0%;

}

#radio2:checked ~ .first{
  margin-left: -25%;

}

#radio3:checked ~ .first{
  margin-left: -50%;

}

#radio4:checked ~ .first{
  margin-left: -75%;

}

.nav_auto div {
  border: 2px solid rgb(156, 8, 8);
  padding: 5px;
  border-radius: 10px;
  transition: 1s;

}

.nav_auto{
  position: absolute;
  width: 100%;
  margin-top: 26.3%;
  justify-content: center;
  display: none;
}

.nav_auto div:not(:last-child){
  margin-right: 20px;

}

#radio1:checked ~ .nav_auto .auto_btn1{
  background-color: rgb(237, 35, 35);
}

#radio2:checked ~ .nav_auto .auto_btn2{
  background-color: rgb(237, 35, 35);
}

#radio3:checked ~ .nav_auto .auto_btn3{
  background-color: rgb(237, 35, 35);
}

#radio4:checked ~ .nav_auto .auto_btn4{
  background-color: rgb(237, 35, 35);
}


/* ============================================================================ */

main{
  width: 1200px;
  margin: 0 auto;
}
.container{
  display: flex;
  justify-content: space-around;
  background-color: #e2abab;
  padding-top:2% ;
  padding-bottom: 2%;
  border-radius: 10px;
  margin: 1.5% 1%;
  width: 100%;
  height: 40%;
}
.container img{
  width: 100%;
  height: 22em;

}
.card{
	color: black;
	text-align: center;
  cursor: pointer;
  border: 1px solid #c23939; 
  background-color: #ffffff;
  padding-bottom: 2%;
  width: 30%;
  height: 90%;
}
.card:hover{
  box-shadow: 0px 1px 20px #a81e1e ;
}
.descricao{
  margin: 4.5% 0%;

}
.comprar{
  padding: 2%;
  background-color: rgb(86, 92, 94);
  border: none;
  border-radius: 5px;
  cursor: grabbing;
  color: white;
  border: 0.7px solid white;
  font-weight: bold;
}
.comprar:hover{
  background-color: white;
  color: rgb(86, 92, 94);
  border:0.7px solid rgb(86, 92, 94);
}

.carrinho{
  padding: 2%;
  background-color: rgb(59, 92, 79);
  border: none;
  border-radius: 5px;
  cursor: grabbing;
  color: white;
  border: 0.7px solid white;
  font-weight: bold;
}
.carrinho:hover{
  background-color: white;
  color: rgb(59, 92, 79);
  border: 0.7px solid rgb(59, 92, 79);
}

@media  (max-width:741px){

  .slide{
    width: 25%;
    height: 22vh;
     /* position: relative;*/
    transition: 2s;
  }
 
  .nav_auto div {
    display: none;
  
  }

  .label_nav{
    display: none;
  }
  main{
    margin-top: 155px;
    
  }
}

@media (max-width:795px) and (min-width:742px){
 
  main{
    margin-top: 155px;
    
  }

}