footer{
  margin-top: 3%;
  background-color: rgb(213, 33, 33);
}

footer img{

  width: 100%;
  

}

.footer_all{
  display: flex;
  justify-content: space-around;
  align-items: center;

}

.icones{


}

.lista:link{

  text-decoration: none;
}

.lista:visited{

  text-decoration: none;
  color: rgb(235, 236, 230);
}