*{
  margin: 0;
  padding:0 ;
  box-sizing: border-box;
} /* zera todas as configurações padroes do html */

/* -----------------------------------------------------------------------------------*/
/*  Primeiro parte do header   */
.primeiro_cabecalho{
  width: 100%;
  height: 98px;
  display: flex;
  align-items:center ; /*alinha os elementos no centro   */
  /*justify-content:space-around;*/
  background-color: rgb(213, 33, 33);
  padding: 1%;
  gap: 0% 5% /* o primeiro alinha a linha o segundo alinha a coluna   */
  
}

.form_primeiro_cabecalho{

  border:1px solid whitesmoke;
  border-radius: 0.3em;
  padding: 1%;
  padding-left: -15%;
  width: 47%;
  border:none
  
 

}

.form_primeiro_cabecalho2{
  width: 11%;
  display: flex;
  align-items: center;
  justify-content:space-around;
  color: whitesmoke;
  justify-content:left;
  gap: 0% 4%
 
}

 .form_primeiro_cabecalho3{
  width: 9%;
  display: flex;
  align-items:center;
  justify-content:left;
  color: whitesmoke;
  gap: 5% 4% 


}

.form_primeiro_cabecalho4{
  width: 9%;
  display: flex;
  align-items:center;
  justify-content:left;
  color: whitesmoke;
  gap: 5% 4% 


}

.text_botao2{
  width: 100%;
}


.caixa_texto , .botao{

   font-size: 1.2em;
   border-radius: 0.2em;
   border: none;
   padding: 0.2em;

}

.botao{

  cursor: pointer;
  background-color: rgb(192, 242, 29);
  color: rgb(243, 18, 18);
  width: 14%;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.392);

}

.botao:hover{

  background-color: red;
  color: whitesmoke;
}



.botao2{

  font-size: 1.3em;
  cursor: pointer;
  background-color: rgb(192, 242, 29);
  color: rgb(243, 18, 18);
  width:55%;
  border:none;
  height: 30px;
  border-radius: 0.3em;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.392);
  text-align: center;
  padding-top: 4%;
  padding-bottom: 20%;

}

.botao2:hover{

  background-color: red;
  color: whitesmoke;
}

.botao4{

  font-size: 1.3em;
  cursor: pointer;
  background-color: rgb(192, 242, 29);
  color: rgb(243, 18, 18);
  width:110%;
  border:none;
  height: 30px;
  border-radius: 0.3em;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.392);
  text-align: center;
  padding-top: 4%;
  padding-bottom: 20%;
  margin-left: 10%;
  padding-right: 15%;
  padding-left: 15%;

}


.botao4:hover{

  background-color: red;
  color: whitesmoke;
}

.caixa_texto{
  width: 75%;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.392);

}

.correcao{
  display: none;
  color: rgb(213, 33, 33);
}


/*  Primeiro parte do header   */
/* ------------------------------------------------------------------------------------FIM */


/*  Segunda parte do header   */
.segunda_cabecalho{

  width: 100%;
  overflow-x:auto;
  height: 45px;
  background-color: rgb(233, 64, 64);
  display: flex;
  align-items:center ; /*alinha os elementos no centro   */
   justify-content:space-around; 
   padding: 0em;
   gap: 100% 5% /* o primeiro alinha a linha o segundo alinha a coluna   */
  
}

.link{

  font-size: 1.1em;
  width: 25%;
  height: 45px;
  background-color: rgb(237, 35, 35);
  color: rgb(240, 242, 234);
  display: flex;
  align-items:center ; /*alinha os elementos no centro   */
   justify-content:left; 
   padding: 0em;
   gap: 5% 5% /* o primeiro alinha a linha o segundo alinha a coluna   */
   

}

.abas{

  font-size: 1.1em;
  width: 90%;
  height: 45px;
  color: rgb(240, 242, 234);
  display: flex;
  align-items:center ; /*alinha os elementos no centro   */
   justify-content:space-evenly; 
   padding: 0em;
   gap: 50% 5% /* o primeiro alinha a linha o segundo alinha a coluna   */
   
}

/* Altera a configuração padrão dos links  */
.tagA_segundo_cabecalho:link{
  text-decoration: none;

}

.tagA_segundo_cabecalho:visited{
  color: rgb(235, 236, 230);
  text-decoration: none;

}
/* Altera a configuração padrão dos links  */

.mercado,.pet,.farmacia{
  cursor: pointer;

}

.mercado:hover{
  color: rgb(199, 233, 64);

}

.pet:hover{
  color: rgb(199, 233, 64);

}

.farmacia:hover{
  color: rgb(199, 233, 64);

}

.oferta:hover{
  color: rgb(199, 233, 64);

}

#pag_mercado{
  background-color: rgb(199, 233, 64);
  color: rgb(237, 35, 35);
  border-radius: 5px;
  padding: 6px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.392);

}

#pag_pet{
  background-color: rgb(199, 233, 64);
  color: rgb(237, 35, 35);
  border-radius: 5px;
  padding: 6px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.392);

}

#pag_farmacia{
  background-color: rgb(199, 233, 64);
  color: rgb(237, 35, 35);
  border-radius: 5px;
  padding: 6px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.392);

}

/*  Segunda parte do header   */
/* ------------------------------------------------------------------------------------FIM */



@media (max-width:732px) and (min-width:666px) {

  .link{
  
    font-size: 1.0em;

  }


}

@media (max-width:665px) and (min-width:100px) {

  .texto_nav{
  display: none;

  }

.link{

  width: 7%;
  align-items:center
  
}

}

@media (max-width:392px)and (min-width:280px){

  .abas{
    font-size: 0.80em;
  }


}

@media (max-width:1083px)and (min-width:10px){

 .text_botao2 , .text_botao3 {
  
  display: none;
  width: -1%;

 }


}

@media (max-width:500px)and (min-width:250px){

  .form_primeiro_cabecalho2 {

    width: 36%;
    margin-right:-10%;
    
  }

  .form_primeiro_cabecalho3{
   
    display: none;

  }

  .form_primeiro_cabecalho{

    width: 70%;
  }

  .caixa_texto{
   
    font-size: 120%;

  }

  .botao{
   
    width: 18%;

  }

  .imagem {
   
    width: 130%;
    height:10vh

  }


}

@media (max-width:1280px)and (min-width:800px){

.botao4{

  margin-left: 680%;
}

}

@media (max-width:799px)and (min-width:600px){

  .botao4{
  
    margin-left: 580%;
  }
  
  }

  @media (max-width:599px)and (min-width:300px){

    .botao4{
    
      margin-left: 380%;
    }
    
    }



