*{
  margin: 0;
  padding:0 ;
  box-sizing: border-box;
} /* zera todas as configurações padroes do html */

/* -----------------------------------------------------------------------------------*/
/*  Primeiro parte do header   */
.primeiro_cabecalho{

  display: flex;
  align-items:center ; /*alinha os elementos no centro   */
  justify-content:left;
  background-color: rgb(203, 47, 47);
  padding: 0em;
  column-gap: 10em;
  float: left;
  width: 100%;
  height: 120px;

}

form{

  border:1px solid whitesmoke;
  border-radius: 0.3em;
  padding: 0.3em;
  width: 40%;
  

}

form input , form button{

   font-size: 1.2em;
   border-radius: 0.2em;
   border: none;
   padding: 0.2em;

}

.botao{

  cursor: pointer;
  background-color: rgb(192, 242, 29);
  color: rgb(243, 18, 18);
  width:1.5em;

}

.botao:hover{

  background-color: red;
  color: whitesmoke;
}

.caixa_texto{
  width: 93%;

}

/*  Primeiro parte do header   */
/* ------------------------------------------------------------------------------------ */