*{
  margin: 0;
  padding:0 ;
  box-sizing: border-box;
} /* zera todas as configurações padroes do html */

/* inicio primeiro block de imagens-------------------------------------------------------------------------------------------- */

.elementoUm_article{
  display: flex;
  background-color: #f39595;
  margin-top: 2.6%;
  padding-top: 2%;
  padding-bottom: 2%;
  width: 100%;
  padding-right: 5%;
  padding-left: 5%;
  align-items: center;
  justify-content: space-around;  
  flex-wrap: wrap;
  
}

.elementoUm_article_div{
  background-color: rgb(247, 243, 180);
  box-shadow: 8px 8px 8px rgba(15, 15, 15, 0.392);
  border-radius: 10px;
  transition: background-color 1000ms;
  transition-delay:all 100000s;
  width:30%;
 
}

.elementoUm_article_div:hover{
  background-color: rgb(247, 180, 185);
  border:solid 2px rgb(238, 9, 9);

}

.elementoUm_article_div  p {
  margin-left: 5%;
  font-size: 110%;

}

.elementoUm_article_div  button{
  padding-right:5%;
  padding-left: 5%;
  padding-bottom: 2%;
  padding-top: 2%;
  margin-top: 5%;
  margin-left: 1%;
  margin-right: 1%;
  margin-bottom: 5%;
  background-color: #ef8d8d;
  border-radius: 10px;
  border: none;
  text-align: center;
  font-weight: 800;
  color:white;
  cursor: pointer;
}

.elementoUm_article_div  button:hover{
  background-color: rgb(213, 33, 33);

}


.elementoUm_article_div img{
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
/*--fim primeiro block de imagens------------------------------------------------------------------------------------*/

/* inicio segundo block de imagens-------------------------------------------------------------------------------------------- */

.elementoDois_article{
  display: flex;
  background-color: #eca7a7;
  margin-top: 0px;
  padding-top: 2%;
  padding-bottom: 2%;
  width: 100%;
  padding-right: 5%;
  padding-left: 5%;
  align-items: center;
  justify-content: space-around; 

}

.elementoDois_article_div{
  background-color: rgb(247, 243, 180);
  box-shadow: 8px 8px 8px rgba(15, 15, 15, 0.392);
  border-radius: 10px;
  transition: background-color 1000ms;
  width:30%;
}

.elementoDois_article_div:hover{
  background-color: rgb(247, 180, 185);
  border:solid 2px rgb(238, 9, 9);

}

.elementoDois_article_div  p {
  margin-left: 5%;
  font-size: 110%;

}

.elementoDois_article_div  button{
  padding-right:5%;
  padding-left: 5%;
  padding-bottom: 2%;
  padding-top: 2%;
  margin-top: 5%;
  margin-left: 1%;
  margin-right: 1%;
  margin-bottom: 5%;
  background-color: #ef8d8d;
  border-radius: 10px;
  border: none;
  font-weight: 800;
  color:white;
  cursor: pointer;
}

.elementoDois_article_div  button:hover{
  background-color: rgb(213, 33, 33);

}

.elementoDois_article_div img{
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

}
/*--fim segundo block de imagens------------------------------------------------------------------------------------*/

.whatsapp{
  position: fixed;
  top: 90%;
  left:95%;
}

.whatsapp p {
  font-size: 80%;
  font-weight: 800;
}

#whats{
  font-size: 300%;
  color: rgb(16, 123, 17);
}


@media  (max-width:741px){
    

  .elementoUm_article{
  flex-direction: column;

  }

  .elementoDois_article{
    flex-direction: column;
  
    }

    .elementoUm_article_div{
      width: 80%;
      margin-top:3%;
      margin-bottom: 7%;
    }

    .elementoDois_article_div{
      width: 80%;
      margin-top:3%;
      margin-bottom: 7%;
    }

  }

  @media (max-width:3000px) and (min-width:1407px){

    /* inicio primeiro block de imagens-------------------------------------------------------------------------------------------- */
.elementoUm_article_div  p {
  margin-left: 5%;
  font-size: 150%;

}

.elementoUm_article_div  button{
  font-size: 150%;

}

/*--fim primeiro block de imagens------------------------------------------------------------------------------------*/

/* inicio segundo block de imagens-------------------------------------------------------------------------------------------- */

.elementoDois_article_div  p {
  font-size: 150%;

}

.elementoDois_article_div  button{
  font-size: 150%;

}



  }