
footer{
  margin-top: 3%;
  padding-top: 3%;
  padding-bottom: 3%;
  background-color: rgb(213, 33, 33);
  width: 100%;

}

.footer_all{
  display: flex;
  justify-content: space-around;
  align-items: center;

  width: 100%;

}

footer section article{

}

.imagem_logo2{
  width: 20%;
  margin-right: -10%;
}

footer img{
  width: 70%;
 
}

.icones_footer{

  width: 20%;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 2%;
  padding-right: 4%;
  margin-right: 1%;
  display: flex;
  justify-content: space-between;

}

.lista_footer1{
  margin-left: 10%;
}

.lista_footer1 li ,
.lista_footer2 li {
  padding-bottom: 2%;
}

.lista_footer1 ul ,
.lista_footer2 ul {
  padding-top: 2%;
}


#icone_footer_img{
  font-size:240%;
  color: rgb(192, 242, 29);
}

#icone_footer_img:hover{
  font-size: 400%;

}


.lista:link{
  text-decoration: none;
}

.lista:visited{
  text-decoration: none;
  color: rgb(235, 236, 230);
}


.lista:hover{
  color: rgb(192, 242, 29);
}

.label_footer{
  color: rgb(192, 242, 29);
  font-weight: 900;
  font-size: 120% ;
}

@media (max-width:870px){

  .icones_footer{
    flex-direction: column;
    padding-top: 4%;
    font-size: 70%;
    padding-left: 5%;
  }

  #icone_footer_img{
    padding-bottom: 10%;
  }
}

@media  (max-width:770px) {

  .lista{
    font-size: 80%;
  }

  .label_footer{
    font-size: 90% ;
  }
}

@media  (max-width:560px){

  .lista{
    font-size: 65%;
  }

  .label_footer{
    font-size: 75%;
  }
  
  #icone_footer_img{
    font-size: 160%;
}

footer img{
  width: 90%;
 
}

}

@media (max-width:3000px) and (min-width:1407px){
   
  .lista_footer1 li ,
  .lista_footer2 li {
    font-size: 120% ;
  }

  #icone_footer_img{
    font-size:340%;
  }
  
  #icone_footer_img:hover{
    font-size: 500%;
  }

  .label_footer{
    font-size: 130% ;
  }


}






