
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; 
}

/* inicio Block Login----------------------------------------------------------------------------------------------------- */
.header{
  position: relative;
}

.body_login{
  display: none;
  position:absolute;
  background-color: rgba(128, 128, 128, 0.6);
  width: 100vw;
  padding: 100%;
  right:0%;
  z-index:2;
 
  
}

.login{
  display: none;
  background-color: #f39696;
  border-radius: 5%;
  padding-top: 1%;
  padding-left: 2.5%;
  padding-right: 20%;
  padding-bottom: 150px;
  position: absolute;
  top:80px;
  left: 65%;
  width: 11%;
  z-index:2;
 
}

.botao_login{
  text-align: center;
  background-color: #f71212;
  border: 2px solid #ff0000;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
  position: absolute;
  padding-left: 32%;
  padding-right: 32.5%;
  padding-top: 1%;
  padding-bottom: 2%;
  top:125px;
  margin-top: 1%;
}

.botao_login:hover{
  background-color: #d3e40d;
  border: 2px solid #ff0000;
  color: rgb(222, 20, 20);
}

#email_login {
  position: absolute;
  padding-top: 2%;
  padding-bottom: 1%;
  width: 80%;
  border-radius: 5px;
  border: 2px solid #f0f0f0;
  top:50px
}

 #username_login{
  position: absolute;
  padding-top: 2%;
  padding-bottom: 1%;
  width: 80%;
  border: 2px solid #f0f0f0;
  border-radius: 5px;
  top:90px
}

.botao4{
  z-index: 10;
}


/* --------------------------------------------------------------------------------------------------------fim Block Login */
main {
  width: 100%;
  min-height: 800px;
  background: linear-gradient(90deg, #e13131 0%, #eb979c 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

.container {
  background-color: #f39696;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.475);
  width: 400px;
  max-width: 100%;
  overflow: hidden;
}

.header {
  background-color: rgb(239, 98, 98);
  padding: 20px;
}

.form {
  padding: 20px;
}

.form-control {
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
}

.form-control label {
  display: inline-block;
  margin-bottom: 5px;
}

.form-control input {
  border: 2px solid #f0f0f0;
  display: block;
  border-radius: 10px;
  font-size: 14px;
  width: 100%;
  padding: 10px;
  background-color: rgb(238, 208, 208);
}

.form-control i {
  position: absolute;
  top: 37px;
  right: 10px;
  visibility: hidden;
}

.form-control small {
  position: absolute;
  bottom: 0;
  left: 0;
  visibility: hidden;
}

.form-control p {
  color: #db1701;
  font-weight: 600;
  padding-top: 3%;
}

.form button {
  background-color: #f71212;
  border: 2px solid #ff0000;
  color: #fff;
  font-size: 14px;
  width: 100%;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
}

.form button:hover{

  background-color: #d3e40d;
  border: 2px solid #ff0000;
  color: rgb(222, 20, 20);


}

/* Error and Success */
.form-control.success input {
  border-color: #2ecc71;
}

.form-control.error input {
  border-color: #e74c3c;
}

.form-control.success i.fa-check-circle {
  color: #2ecc71;
  visibility: visible;
}

.form-control.error i.fa-exclamation-circle {
  color: #e74c3c;
  visibility: visible;
}

.form-control.error small {
  visibility: visible;
  color: #db1701;
}


/*responsividade do formulario */

@media (max-width:415px) and (min-width:395px) {

  .container {
    background-color: #f39696;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.475);
    width: 380px;
    max-width: 100%;
    overflow: hidden;
  }

}

@media (max-width:394px)and (min-width:374px){

  .container {
    background-color: #f39696;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.475);
    width: 360px;
    max-width: 100%;
    overflow: hidden;
  }

}

@media (max-width:373px)and (min-width:349px){

  .container {
    background-color: #f39696;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.475);
    width: 330px;
    max-width: 100%;
    overflow: hidden;
  }

}

@media (max-width:348px)and (min-width:320px){

  .container {
    background-color: #f39696;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.475);
    width: 310px;
    max-width: 100%;
    overflow: hidden;
  }

}

@media only screen and  (max-width:1000px) and (min-width:768px)  {

  /* inicio Block Login----------------------------------------------------------------------------------------------------- */

.body_login{
  width: 100vw;
  height: 175vh;
  padding: 100%;
  right:0%;

}

.login{
  padding-top: 2%;
  padding-left: 3%;
  padding-right: 30%;
  padding-bottom: 150px;
  top:80px;
  left: 55%;
  width: 11%;

}

.botao_login{
  padding-left: 32%;
  padding-right: 32.5%;
  padding-top: 1%;
  padding-bottom: 2%;
  top:125px;
  margin-top: 1%;
}

#email_login {
  padding-top: 2%;
  padding-bottom: 1%;
  width: 80%;
  top:50px
}

 #username_login{
  padding-top: 2%;
  padding-bottom: 1%;
  width: 80%;
  top:90px
}
/* --------------------------------------------------------------------------------------------------------fim Block Login */


}

@media only screen and  (max-width:767px) and (min-width:280px)  {

  /* inicio Block Login----------------------------------------------------------------------------------------------------- */

.body_login{
  width: 100vw;
  height: 265vh;
  padding: 100%;
  right:0%;

}

.login{
  padding-top: 2%;
  padding-left: 22%;
  padding-right: 58%;
  padding-bottom: 150px;
  top:80px;
  left: 7%;
  width: 11%;


}

.botao_login{
  padding-left: 33%;
  padding-right: 33.5%;
  padding-top: 1%;
  padding-bottom: 2%;
  top:125px;
  margin-top: 1%;
  margin-left: -17%;
}

#email_login {
  padding-top: 2%;
  padding-bottom: 1%;
  width: 80%;
  top:50px;
  margin-left: -17%;
}

 #username_login{
  padding-top: 2%;
  padding-bottom: 1%;
  width: 80%;
  top:90px;
  margin-left: -17%;
}
/* --------------------------------------------------------------------------------------------------------fim Block Login */


}