*{
  margin: 0;
  padding:0 ;
  box-sizing: border-box;
} /* zera todas as configurações padroes do html */

/* -----------------------------------------------------------------------------------*/
header{
  width: 100%;
  background-color: aquamarine;
}

/*  Primeiro parte do header   */
.primeiro_cabecalho{
  width: 100%;
  height: 98px;
  display: flex;
  align-items:center ; /*alinha os elementos no centro   */
  justify-content:space-around;
  background-color: rgb(213, 33, 33);

}

.article_form1,
.imagem_logo ,
.all_button {
  /* background-color: blueviolet;*/

}

.imagem_logo  {
  width: 10%;
  margin-right: 10%;

}

.imagem_logo_img{
  width: 105%;
}

.article_form1{
  width: 35%;
  margin-left: -10%;
}

.caixa_texto{
 /* background-color: aquamarine;*/
  width: 90%;
  font-size: 100%;
  height: 36px;
  border-radius: 7px;
  border: none;

}

.botao{
  margin-left: -13.7%; 
  width: 13%;
  height: 34px;
  cursor: pointer;
  background-color: rgb(192, 242, 29);
  color: rgb(243, 18, 18);
  border: none;
  font-size: 100%;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;

}
.botao:hover{
  background-color: red;
  color: whitesmoke;
}

.all_button {
  display: flex;
  width: 30%;
  align-items: center;
  justify-content: space-around;
  padding-top: 1%;
  padding-bottom: 1%;
 
}

.article_form2{
  background-color: red;
  padding-top: 2%;
  padding-bottom: 1%;
  padding-left: 2%;
  padding-right: 2%;
  border-radius: 10px;
}

.article_form3{
  background-color: red;
  padding-top: 2%;
  padding-bottom: 1%;
  padding-left: 2%;
  padding-right: 2%;
  border-radius: 10px;

}

#bota2_i{
  background-color: rgb(192, 242, 29);
  padding-top:10%;
  padding-bottom: 10%;
  padding-left: 20%;
  padding-right: 20%;
  color: rgb(243, 18, 18);
  border-radius: 7px;
  font-size: 120%;
  cursor: pointer;
}

#bota3_i{
  background-color: rgb(192, 242, 29);
  padding-top:10%;
  padding-bottom: 10%;
  padding-left: 20%;
  padding-right: 20%;
  color: rgb(243, 18, 18);
  border-radius: 7px;
  font-size: 120%;
  cursor: pointer;
}

#bota2_i:hover,
#bota3_i:hover{
  background-color: red;
  color: whitesmoke;
}


.text_botao2 ,
.text_botao3 ,
.text_botao4 {
 color: whitesmoke;
 padding-top: 2%;
 line-height: -27%;
}

.imagem_logo4{
  width: 10%;
  margin-left: -20%;
}

.imagem_logo_img4{
  width: 115%;
}

.form_primeiro_cabecalho4{
  display: flex;
  width: 15%;
  align-items: center;
  justify-content: space-between;

}


.botao4{
  background-color: rgb(192, 242, 29);
  padding-top:7%;
  padding-bottom: 7%;
  padding-left: 7%;
  padding-right: 10%;
  margin-left: 40%;
  color: rgb(243, 18, 18);
  border-radius: 7px;
  font-size: 150%;
  cursor: pointer;
}


/*  Primeiro parte do header   */
/* ------------------------------------------------------------------------------------FIM */


/*  Segunda parte do header   */
.segunda_cabecalho{
 background-color: rgb(233, 64, 64);
 width: 100%;
 height: 40px;
 display: flex;
 align-items: center;
 justify-content: space-around;
 
}

.link{
 background-color: rgb(237, 35, 35);
 display: flex;
 width: 15%;
 justify-content: space-around;
 color: whitesmoke;
 padding: 0.80%;
   
}

.link i{
  font-size: 110%;
}

.abas{
  display: flex;
  width:80%;
  justify-content: space-around;
  padding-top: 10px;
  color: whitesmoke;
  
   
}

/* Altera a configuração padrão dos links  */
/* link que ainda não foi visitado */
.tagA_segundo_cabecalho:link{
  text-decoration: none;
  color: rgb(235, 236, 230);

}

.tagA_segundo_cabecalho:visited{
  color: rgb(235, 236, 230);
  text-decoration: none;

}
/* Altera a configuração padrão dos links  */

.mercado,.pet,.farmacia{
  cursor: pointer;

}

.mercado:hover ,
.pet:hover ,
.farmacia:hover,
.oferta:hover {
  color: rgb(199, 233, 64);

}

#pag_mercado,
#pag_pet ,
#pag_farmacia {
  background-color: rgb(199, 233, 64);
  color: rgb(237, 35, 35);
  border-radius: 5px;
  padding: 6px;
  margin-top: -6px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.392);

}

/*  Segunda parte do header   */
/* ------------------------------------------------------------------------------------FIM */

@media (max-width:795px){

header{
  position: fixed;
  top:0vh;
}

.oferta{
  display: none;
}

.texto_nav{
  display: none;
}

.text_botao2 ,
.text_botao3 {
  display: none;
}


#bota3_i{
 
  padding-left: 30%;
  padding-right: 30%;
  
}

#bota2_i{
  padding-left: 30%;
  padding-right: 30%;
  padding-top:15%;
  padding-bottom: 15%;

}

.imagem_logo  {
  width: 25%;
 
}
.link i{
  font-size: 150%;
}


.article_form1{
  width: 40%;

}

.botao{
  width: 15%;
  height: 35px;
}


}

@media (max-width:795px) and (min-width:587px){

  .imagem_logo  {
    width: 20%;
    margin-right: 10%;
  
  }
  
  .imagem_logo_img{
    width: 80%;
  }
 
  .link i{
    font-size: 150%;
  }

}